@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poiret+One&display=swap");

:root {
  --main-color-text: #393333ff;
  --second-color-text: #81704b;
  --main-color-card: #e3d9ca7c;
  --second-color-card: #e3d9ca7c;
  --main-font-family: "Great Vibes", cursive;
}

.body {

}

.header {
  max-width: 1080px;
  margin-inline: auto;
}

.main {
  margin-inline: auto;
  max-width: 1080px;
}

.container {
  margin-inline: auto;
  padding: 20px 20px;
  background-color: var(--second-color-card);
  border-radius: 90px;
  width: 100%;
}

.container-color {
  background-color: var(--main-color-card);
}

.header__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 20px;
}

.header__inner-subtitle {
  color: var(--main-color-text);
  font-size: 35px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.header__inner-date {
  font-size: 35px;
  color: var(--main-color-text);
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.header__inner-title {
  font-size: 80px;
  color: var(--second-color-text);
  font-family: var(--main-font-family);
  /*   font-family: "Montserrat Alternates", sans-serif;
  font-weight: 200;
  font-style: normal; */
}

.main {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-top: 27px;
  background-attachment: scroll;
}

.block {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
  margin-inline: 20px;
}

.block-information-img,
.block-information-text {
  text-align: center;
}

.block-information-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.image {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  display: block;
  border-radius: 50%;
  -webkit-box-shadow: 1px 1px 56px -4px rgba(34, 60, 80, 0.15);
  -moz-box-shadow: 1px 1px 56px -4px rgba(34, 60, 80, 0.15);
  box-shadow: 1px 1px 56px -4px rgba(34, 60, 80, 0.15);
}

.maps {
  border-radius: 50%;
  -webkit-box-shadow: 1px 1px 56px -4px rgba(34, 60, 80, 0.15);
  -moz-box-shadow: 1px 1px 56px -4px rgba(34, 60, 80, 0.15);
  box-shadow: 1px 1px 56px -4px rgba(34, 60, 80, 0.15);
}

.block-information-text-title {
  font-size: 50px;
  color: var(--second-color-text);
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.block-information-text-subtitle {
  color: var(--main-color-text);
  font-size: 27px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.timer__items {
  display: flex;
  font-size: 48px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 200;
  font-style: normal;
  color: var(--main-color-text);
}

.timer__item {
  position: relative;
  min-width: 60px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 15px;
  text-align: center;
  color: var(--main-color-text);
}

.timer__item::before {
  content: attr(data-title);
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  font-size: 14px;
}

.timer__item:not(:last-child)::after {
  content: ":";
  position: absolute;
  right: -15px;
}

.container-timer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media (max-width: 768px) {
  .block {
    flex-direction: column;
    gap: 20px;
    margin-inline: 0;
  }

  .container {
    border-radius: 50px;
    margin-inline: 10px;
    padding: 15px 15px;
  }


  body, 
  html {
   position: absolute;
   width: 100%;
   height: auto;
   margin: 0px;
   padding: 0px;
   top: 0;
   left: 0;
   min-height: 100%;
  }

  .background {
   position: fixed;
   height: 100%;
   width: 100%;
   top: 0;
   left: 0;
   background-repeat: no-repeat;
   background-position: bottom center;
   background-image: url("../image/fon3-mob.jpg");
   opacity: 1;
   z-index: -1;
  }

  .container__header {
    height: 100vh;
    display: flex;
    justify-content: center;
  }
  .container-timer {
    flex-direction: column;
    width: 100%;
  }

  .container-swap {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .block-information-text-title {
    font-size: 40px;
  }

  .block-information-text-subtitle {
    font-size: 20px;
  }
}
